/* Généralités */

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 0 4%;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 22px;
    margin: 20px 0;
}

h3{
    font-size: 18px;
    margin: 4px 0;
    margin-block: 0;
}

a:hover h3{
    color: #0065FC;
}

p{
    margin: 4px 0;
}

.list a:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}

#hebergement, #activity{
    margin-bottom: 64px;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

header img{
    width: 100px;
}

header a{
    width: 160px;
    height: 100px;
    border-top: 2px solid #F2F2F2;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

nav{
    display:flex;
}

header a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Ligne Recherche */

.recherche{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

i.fas.fa-map-marker-alt {
    line-height: 50px;
}

.fa-map-marker-alt{
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 16px 0 0 16px;
}

.rechercher{
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    height: 50px;
    width: 120px;
    position: relative;
    left: -12px;
    align-items: center;
    border-radius: 0 16px 16px 0;
    border: 0px;
}

.search_mobile{
    display: none;
    position: relative;
    left: -26px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0065FC;
    border-radius: 20px;
    border: 0px;
}

.ville{
    display: inline-block;
    position: relative;
    left: -6px;
    height: 51px;
    width: 200px;
    padding: 0 16px;
    align-items: center;
    border: 0 1px; 
    border-color: #F2F2F2;
    border-style: solid;
}

/* Filtres */

.filters{
    display: inline;
    align-items: center;
}

.filters a{
    text-decoration: none;
    color: black;
}

.filters a:hover .filter_icon{
    background-color: #0065FC;
    color: white;
}

.filters a:hover .filter_text{
    color: #0065FC;
    border: 2px solid #DEEBFF;
}

.filter_block{
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: 1%;
}

.filter_icon{
    display: inline-block;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.filter_text{
    font-weight: bold;
    display: inline-block;
    height: 50px;
    padding: 0 20px 0 35px;
    margin-left: -25px;
    border: 2px solid #F2F2F2;
    border-radius: 0 25px 25px 0;
    vertical-align: middle;
    line-height: 50px;
}

.fa-info{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    text-align: center;
    margin-right: 10px;
}

i.fas.fa-info{
    line-height: 20px;
}

.info{
    margin: 36px 0;
}

/* Propriétés générales des cartes */

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgrey;
}

.card img{
    object-fit: cover;
}

article{
    display: flex;
    flex-direction: column;
}

/* Partie hébergements */

#hebergement{
    display: flex;
    justify-content: space-between;
    height: 664px;
}

.hotels, .popular{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 3%;
}

.hotels .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 480px;
}

.hotels{
    width: 65%;
}

.hotels .card{
    width: 31%;
}

.hotels .card img{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
    padding: 6px;
}

.hotels article{
    padding: 4px 8%;
}

.hotels > h3{
    padding-top: 36px;
}

/* Partie "Les plus populaires" */

.popular{
    width: 31%;
}

.popular .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 540px;
}

.popular .card{
    display: flex;
}

.popular .card img{
    width: 40%;
    height: 160px;
    border-radius: 20px 0 0 20px;
    padding: 6px;
}

.popular article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 4%;
}

/* Partie activités */

#activity > .list{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 440px;
}

#activity .card{
    width: 22%;
}

#activity .card img{
    width:100%;
    border-radius: 20px 20px 0 0;
}

.focus{     /* Taille des images sur 2 rangées */
    height: 380px;
}

.minor{     /* Taille des images les plus petites */
    height: 100px;
}

.major{     /* Taille des images plus grandes */
    height: 200px;
}

#activity h3{
    height: 56px;
    margin-top: 0;
    vertical-align: middle;
    line-height: 56px;
    padding: 0 6%;
}

/* Footer */

footer{
    padding: 20px 4%;
    display: flex;
    background-color: #F2F2F2;
}

footer div{
    width: 33%;
}

footer h3{
    margin-top: 20px;
}

footer ul{
    list-style: none;
    padding-left: 0px;
}

footer ul li a:hover{
    color: #0065FC;
}

li{
    margin-bottom: 12px;
}

@media screen and (max-width: 768px){

    #hebergement, #activity{
        margin-bottom: 32px;
    }

    /* Header */

    header{
        display: block;
        justify-content: center;
        padding: 0;
    }

    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }

    header a{
        width: 50%;
        height: 80px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
    }

    header a:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC
    }

    /* Ligne recherche */

    .recherche{
        justify-content: center;
    }
    .rechercher{
        display: none;
    }

    .search_mobile{
        display: inline;
    }

    /* Partie hébergements */

    #hebergement{
        flex-direction: column-reverse;
        height: auto;
        padding: 0;
    }

    .hotels, .popular{
        width: 100%;
        border-radius: 0;
        padding: 20px 6%;
    }

    .hotels{
        background-color: white;
    }

    .hotels .list{
        flex-flow: column nowrap;
        height: auto;
    }

    .hotels .card{
        width: 100%;
        margin-bottom: 24px;
    }

    .hotels > h3{
        padding-top: 20px;
    }

    .popular .list{
        height: auto;
    }

    .popular .card{
        margin-bottom: 24px;
    }

    #activity .list{
        height: auto;
        flex-flow: column nowrap;
    }

    #activity .card{
        width: 100%;
        margin-bottom: 24px;
    }

    .minor, .major, .focus{
        height: 166px;
    }

    /* Footer */

    footer{
        flex-direction: column;
    }

    footer div{
        width: 100%;
    }
}